<div class="container text-center">
  <% if current_user %>
    <% if @usertopics.blank? %>
      <p>Please update your favourite topics before you proceed...</p>
    <% else %>
      <% @usertopics.each do |ut| %>
        <%= ut.topic.name  %>
        <%= radio_button_tag :topic, "child" %>

      <% end %>
      <% end %>
  <% else %>
    <p>Please <%= link_to "login", new_user_session_path %> first to proceed.</p>
  <% end %>
</div>
